<p>
  question5 works!
</p>

<form [formGroup]="numberForm" (ngSubmit)="onSubmit()">
  <div class="row">
    <div class="col-lg-6 col-sm-6 col-md-6 col-xs-12">
      <div class="form-group">
        <label>Introducir numero 1</label>
        <input
          formControlName="Inumber1"
          type="number"
          class="form-control"
          min="1"
        />
          <small>
             Debe ser mayor a 0
          </small>
      </div>
    </div>
    <div class="col-lg-6 col-sm-6 col-md-6 col-xs-12">
      <div class="form-group">
        <label>Introducir numero 2</label>
        <input
          formControlName="Inumber2"
          type="number"
          class="form-control"
          min="1"
        />
          <small>
             Debe ser mayor a 0
          </small>
      </div>
    </div>
  </div>
    <button
      [disabled]="!numberForm.valid"
      class="btn btn-outline-info"
      type="submit"
    >
      Guardar
    </button>
    <button
      class="btn btn-outline-danger"
      (click) = "goBack()"
      title="Atrás"
      type="button"
    >
      Atrás
    </button>
    <tr *ngFor = "let e of resultObject">
        <td>{{e.number}}</td>
        <td> --> </td>
        <td>{{e.sum}}</td>
    </tr>
</form>
