<div class="container">
<p>
  Seleccionar pregunta
</p>
<div class="botones-preguntas">
<a routerLink="/preguntas/pregunta-4" class="btn btn-primary btn-sm active" role="button" >
      <i class="fa fa-cutlery">
      </i>
      &nbsp;
      <span>
        Pregunta 4
      </span>
</a>
<a routerLink="/preguntas/pregunta-5" class="btn btn-primary btn-sm active" role="button" >
      <i class="fa fa-cutlery">
      </i>
      &nbsp;
      <span>
        Pregunta 5
      </span>
</a>
</div>
<router-outlet></router-outlet>
</div>
