<form [formGroup]="numberForm" (ngSubmit)="onSubmit()">
  <p>
    Pregunta 4
  </p>
  <div class="row">
    <div class="col-lg-6 col-sm-6 col-md-6 col-xs-12">
      <div class="form-group">
        <label>Introducir numero 1</label>
        <input
          formControlName="Inumber1"
          type="number"
          class="form-control"
          min="1"
        />
          <small>
             Debe ser mayor a 0
          </small>
      </div>
    </div>
    <div class="col-lg-6 col-sm-6 col-md-6 col-xs-12">
      <div class="form-group">
        <label>Introducir numero 2</label>
        <input
          formControlName="Inumber2"
          type="number"
          class="form-control"
          min="1"
        />
          <small>
             Debe ser mayor a 0
          </small>
      </div>
    </div>
  </div>
  <div class ="grupo-botones">
    <button
      [disabled]="!numberForm.valid"
      class="btn btn-outline-info"
      type="submit"
    >
      Calcular
    </button>
    </div>
    <div *ngIf="submitted" class="container" style="width:40%;">
    <div class="table-responsive">
          <table class="table  table-dark">
        <thead>
          <tr>
            <th scope="col">Numero</th>
            <th scope="col">Factor</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor = "let e of resultObject">
              <td>{{e.number}}</td>
              <td>{{e.sum}}</td>
          </tr>
        </tbody>
        </table>
    </div>
    </div>
</form>
