p {
  margin-bottom: 20px;
  margin-top: 20px;
  margin-left: 92px;
}
.row{
  margin-left: 80px;
  margin-right: 80px;
}
.grupo-botones{
  text-align: center;
}
button{
  margin-right: 10px;
  margin-bottom: 10px;
}
form {
  margin-top: 50px;
}
.table-responsive{
   margin-top: 20px;
   text-align: center;
}
